// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.ttt-content {
    margin: 0 auto;
    a {
        color: #636b6f;
        &:hover {
            text-decoration: none;
            color: #636b6f;
        }
    }
}
.ttt-row {
    text-align: center;
    &:last-child {
        .ttt-col {
            border-bottom: none;
        }
    }
}
.ttt-col {
    width: 80px;
    height: 80px;
    border-right: 1px solid #636b6f;
    border-bottom: 1px solid #636b6f;
    &:last-child {
        border-right: none;
    }
}
.ttt-element {
    font-size: 4.5rem;
    line-height: 4.5rem;
    width: 100%;
    height: 80px;
    position: relative;
    .line {
        position: absolute;
        top: 50%;
        width: 100%;
        border-bottom: 4px solid #636b6f;
    }
    .btn-block {
        height: 80px;
    }
}

.rotate-90 {
    transform: rotate(-90deg);
}
.rotate-45 {
    transform: rotate(-45deg) scaleX(1.45);
    
}
.rotate-135 {
    transform: rotate(-135deg) scaleX(1.45);
    
}



.f-size-1-5 {
    font-size: 1.3rem;
}
.f-size-2 {
    font-size: 2rem;
}

.player-input{
    outline: none;
    border: none;
    text-align: center;
}


.title-container{
    display: flex;
    justify-content: space-around;
    
    .title-content{
        display: inline-block;
        position: relative;

        img{
            transform: rotate(11deg);
            position: absolute;
            top: 10px;
            right: -90px;
        }
    }
}

