@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@400;700&displayswap');
/* @import '~bootstrap/scss/bootstrap'; */


body:{
    font-family: 'Murecho', sans-serif;
}



html, body {
    font-family: 'Arial', sans-serif;
    font-weight: 200;
    background-color: #ffffff;
    color: #636b6f;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
