<template>
  <button @click="join" class="btn btn-secondary btn-lg">
    Unirse a una partida
  </button>
</template>

<script>
export default {
  methods: {
    join() {
      Swal.fire({
        title: "Join To Match",
        text: "Enter Match ID",
        input: "text",
        inputAttributes: {
          autocapitalize: "off",
          placeholder: "Match Id",
        },
        showCancelButton: true,
        confirmButtonText: "Join",
        showLoaderOnConfirm: true,
        preConfirm: (matchId) => {
          location.href = "/match/join/" + matchId;
        },
        allowOutsideClick: () => !Swal.isLoading(),
      });
    },
  },
};
</script>
