<template>
  <div class="w-100">
    <div>Enlace de la partida : {{ otherPlayerUrl }}</div>

    <div class="text-center font-italic f-size-1-5 mb-3">
      <input
        :disabled="playerType == 2"
        class="player-input"
        v-model="match.first_player_name"
        @change="changePlayerName"
      />
      |
      <input
        :disabled="playerType == 1"
        class="player-input"
        v-model="match.second_player_name"
        @change="changePlayerName"
      />
      <!-- {{ match.first_player_name }}  {{ match.second_player_name }} -->
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    matchData: {},
    match: {},
    matchSize: 0,
    isFullMatchField: false,
    playerType: 1,
  }),
  computed: {
    otherPlayerUrl() {
      return location.origin + "/match/join/" + this.match.id;
    },
  },
  methods: {
    initializeData({ preparedData = null, matchSize = null, match = null }) {
      const data = preparedData || this.matchData;
      const size = matchSize || this.matchSize;
      const match_ = match || this.match;
      this.matchData = data;
      this.match = match_;
      this.matchSize = size;
      this.isFullMatchField = data.fullMatchField;
    },
    changePlayerName() {
      const self = this;
      const { matchData: preparedData, matchSize, match } = self;
      window.event.$emit("matchData", {
        preparedData,
        matchSize,
        match,
        emit: true,
      });
    },
  },
  created() {
    const self = this;
    window.event.$on("matchData", (data) => self.initializeData(data));

    const params = new URLSearchParams(window.location.search);
    this.playerType = params.get("playerType") || this.playerType;
  },
};
</script>
