<template>
  <div class="w-100">
    <div v-if="matchData.matchCountHistories == 0" class="text-center">
      {{ "Start the match" }}
    </div>

    <template v-if="isFullMatchField">
      <div class="text-center">Juego Terminado</div>

      <div v-if="matchData.playerWinner != null" class="text-center f-size-2">
        Ganador "{{ getPlayerTypes(matchData.playerWinner) }}"
      </div>
      <div v-else class="text-center f-size-2">
        Juego completado - No hay ganador
      </div>
    </template>

    <template v-else>
      <div class="text-center">
        <div class="mb-2">
          Juega &nbsp;
          <span class="mb-2 f-size-2">{{
            getPlayerTypes(getPlayerType())
          }}</span>
        </div>
        <div v-if="getPlayerType() == playerType" class="f-size-2">
          <br />Tu Turno
        </div>
      </div>
    </template>

    <div class="ttt-content mt-3">
      <div
        v-for="row in matchSize"
        :key="row"
        class="d-flex justify-content-center ttt-row"
      >
        <div
          v-for="col in matchSize"
          :key="col"
          class="align-self-center ttt-col"
        >
          <template v-if="matchData.matchHistories[row]">
            <div v-if="matchData.matchHistories[row][col]" class="ttt-element">
              <div v-if="matchData.horizontalSuccess[row]" class="line"></div>

              <div
                v-else-if="matchData.verticalSuccess[col]"
                class="line rotate-90"
              ></div>

              <div
                v-else-if="matchData.diagonalRightSuccess[row][col]"
                class="line rotate-135"
              ></div>

              <div
                v-else-if="matchData.diagonalLeftSuccess[row][col]"
                class="line rotate-45"
              ></div>
              {{ getPlayerTypes(matchData.matchHistories[row][col]) }}
            </div>
            <div
              v-else
              class="ttt-element"
              @click="saveMatchHistory(row, col)"
            ></div>
          </template>

          <div
            v-else
            class="ttt-element"
            @click="saveMatchHistory(row, col)"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "tick-tack-toe",
  data: () => ({
    matchData: {},
    match: {},
    matchSize: 0,
    isFullMatchField: false,
    playerType: 1,
    socket: null,
    reconnectionInterval: null,
  }),
  methods: {
    getPlayerTypes(type = null) {
      const types = ["x", "o"];

      if (type !== null) {
        return types?.[type - 1] || null;
      }

      return null;
    },
    initializeData({
      preparedData = null,
      matchSize = null,
      match = null,
      emit = false,
    }) {
      const data = preparedData || this.matchData;
      const size = matchSize || this.matchSize;

      const match_ = match || this.match;
      for (let row = 1; row <= size; row++) {
        if (data.matchHistories[row] == null) data.matchHistories[row] = {};

        if (data.diagonalRightSuccess[row] == null)
          data.diagonalRightSuccess[row] = {};

        if (data.diagonalLeftSuccess[row] == null)
          data.diagonalLeftSuccess[row] = {};
      }

      this.matchData = data;
      this.match = match_;
      this.matchSize = size;
      this.isFullMatchField = data.isFullMatchField;

      if (!data.isFullMatchField) this.connectSocket();
      else setTimeout(() => this.disconnectSocket(), 500);
      if (emit) this.emitDataToUpdatePlayerNames();
    },
    getPlayerType() {
      const { playerType } = this.matchData;
      return playerType == 1 ? 2 : 1;
    },
    async saveMatchHistory(row, column) {
      if (this.matchData.playerType == null && this.playerType != 1) return;
      if (this.matchData.playerType == 1 && this.playerType == 1) return;
      if (this.matchData.playerType == 2 && this.playerType == 2) return;

      const params = new URLSearchParams(window.location.search);
      const match_round_id = params.get("round");
      const { match_id } = this.matchData;
      const player_type = this.getPlayerType();

      const res = await axios.post("/api/match-histories", {
        match_id,
        match_round_id,
        player_type,
        row,
        column,
      });
      this.initializeData(res.data);
      window.event.$emit("matchData", res.data);
      if (this.socket) this.socket.emit("match.changed", res.data);
    },
    async saveMatcPlayersName() {
      await axios.put("/api/match/player-names/" + this.match.id, this.match);
    },
    emitDataToUpdatePlayerNames() {
      console.log("emitDataToUpdatePlayerNames");
      const self = this;
      const { matchData: preparedData, matchSize, match } = self;
      this.socket.emit("match.changed", { preparedData, matchSize, match });
      this.saveMatcPlayersName();
      this.socket.connect();
    },
    clearReconnectionInterval() {
      if (!this.reconnectionInterval) return;
      clearInterval(this.reconnectionInterval);
      this.reconnectionInterval = null;
    },
    connectSocket() {
      const self = this;
      //   self.disconnectSocket();
      self.socket = window.SocketConnectionSingleton.getInstance();
      self.socket.connect();
      self.socket.emit("match.join", self.match.id);
      self.socket.on("match.changed", (data) => {
        if (self.match.id != data.match.id) return;
        self.initializeData(data);
        window.event.$emit("matchData", data);
        self.socket.connect();
      });

      this.reconnectionInterval = setInterval(() => {
        self.socket.connect();
      }, 5000);
    },
    disconnectSocket() {
      console.log("disconnectSocket");
      const self = this;
      if (!self.socket) return;
      self.socket.emit("match.leave", self.match.id);
      self.socket.disconnect();
      this.clearReconnectionInterval();
      self.socket = null;
    },
  },
  created() {
    const self = this;
    window.event.$on("matchData", (data) => self.initializeData(data));

    const params = new URLSearchParams(window.location.search);
    console.log(params.get("playerType") || this.playerType);
    this.playerType = params.get("playerType") || this.playerType;
  },
  mounted() {},
};
</script>
